@import url(../css/cards.css);

.blog-content {
    grid-area: content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 7vw;
    padding-right: 7vw;
}
