.blog-post-container {
    border: 2px solid brown;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "return"
        "content"
        "author";
}

.blog-post-return {
    grid-area: return;
    border-bottom: 2px solid #dbe2e8;
}

.blog-post-return > a {
    margin: 1em 1em 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.5em;
    font-size: 10px;
}

.blog-post-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
}

.blog-post-content p {
    padding-left: 10vw;
    padding-right: 10vw;
}
.blog-post-content figure {
    text-align: center;
}

.blog-post-content img {
    width: 400px;
    height: 400px;
}

.blog-post-author {
    grid-area: author;
    border-top: 2px solid #dbe2e8;
    margin: 1vh 1vw 1vh 1vw;
}

.blog-post-author aside {
    margin: 1vh 2vw 1vh 2vw;
}

.blog-post-author img {
    width: 100px;
    height: 100px;
}

.blog-post-author-social {
    width: 20px;
    height: 20px;
    margin: 10px;
    position: relative;
    display: inline-block;
}

.blog-post-author-social > a {
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
}

.blog-post-author-social > img {
    width: 100%;
    height: 100%;
}

/* Add breakpoint for blog-post-content and display in columns for larger screens */