@import url(../css/cards.css);

.blog-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

.blog-content {
    margin-top: 30px;
    grid-area: content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 7vw;
    padding-right: 7vw;
}

