.footer {
    grid-area: footer;
    min-height: 1vh;
    margin: 1vh 1vw 1vh 1vw;
    padding-top: 1vh;
    border-top: 2px solid #dbe2e8;
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 8px;
    text-transform: uppercase;
    text-shadow: 0 0 1px skyblue;
    font-weight: bold;
}