.header {
    background-color: skyblue;
    width: 100%;
    padding: 1em;
    margin-bottom: 2rem;
    min-height: 18vh;
    border: 2px solid black;
    text-align: center;
}

.header-icon {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid yellow;    
}

.header-title {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid red;
}