.header {
    background-color: skyblue;
    grid-area: header;
    padding: 1em;
    min-height: 15vh;
    border: 2px solid black;
    text-align: center;
}

/*TODO: change icon size for larger screens*/
.header-icon {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid yellow;
    content: url('https://img.icons8.com/color/48/000000/around-the-globe.png');   
}

.header-title {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid red;
}