.header {
    background-color: skyblue;
    grid-area: header;
    padding: 1em;
    min-height: 10vh;
    border: 2px solid black;
    text-align: center;
}

.header-title {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid red;
}

.header-sky-background {
    background-image: url('../images/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 11%;
}

.header-thailand-background {
    background-image: url('../images/thailand_beach_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}