@import url(../css/header.css);
@import url(../css/content.css);
@import url(../css/footer.css);

html {
    font-family: "Open Sans", arial, sans-serif;
    width: 100%;
}

body {
    background-color: #fafbfc;
    color: #2e3d49;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}

h1 {
    letter-spacing: 0.5em;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgb(1,1,1);
}

.container {
    display: grid;
    grid-template-rows: 30% 60% 10%;
    grid-template-areas:
        "header"
        "content"
        "footer";
}


/*TODO: Add breakpoints for mid and large screens*/